USE [master]
GO
/****** Object:  Database [WorkvistaDB]    Script Date: 31-03-2026 16:12:10 ******/
CREATE DATABASE [WorkvistaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkvistaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WorkvistaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkvistaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WorkvistaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkvistaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkvistaDB]
GO
/****** Object:  User [DESKTOP-S0KTIAN\Neosoft]    Script Date: 31-03-2026 16:12:11 ******/
CREATE USER [DESKTOP-S0KTIAN\Neosoft] FOR LOGIN [DESKTOP-S0KTIAN\Neosoft] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-S0KTIAN\Neosoft]
GO
/****** Object:  Table [dbo].[ActivityCategories]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[ColorHex] [nvarchar](10) NOT NULL,
	[IsProductive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ApplicationName] [nvarchar](100) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[DurationSeconds]  AS (datediff(second,[StartTime],isnull([EndTime],getdate()))),
	[Status] [nvarchar](20) NOT NULL,
	[LogDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardFilters]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardFilters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Value] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DateDimension]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateDimension](
	[Date] [date] NOT NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[MonthName] [nvarchar](20) NULL,
	[Week] [int] NULL,
	[Day] [int] NULL,
	[IsToday] [bit] NULL,
	[IsCurrentMonth] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KpiMaster]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KpiMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ColumnName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberStatus]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberStatus](
	[MemberId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[LastActiveTime] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductivityScores]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductivityScores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[ScoreDate] [date] NOT NULL,
	[HourOfDay] [tinyint] NOT NULL,
	[Score] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[ManagerId] [int] NULL,
	[TeamId] [int] NOT NULL,
	[DailyCapacity] [decimal](5, 2) NOT NULL,
	[AvatarColor] [nvarchar](20) NULL,
	[Initials] [nvarchar](5) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeEntries]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeEntries](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[LoggedDate] [date] NOT NULL,
	[LoggedSeconds] [int] NOT NULL,
	[OnSystemSeconds] [int] NOT NULL,
	[AwaySeconds] [int] NOT NULL,
	[IdleSeconds] [int] NOT NULL,
	[ProductiveSeconds] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ChangePercent] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityCategories] ON 

INSERT [dbo].[ActivityCategories] ([Id], [Name], [ColorHex], [IsProductive], [SortOrder]) VALUES (1, N'No Impact Time', N'#3B82F6', 0, 1)
INSERT [dbo].[ActivityCategories] ([Id], [Name], [ColorHex], [IsProductive], [SortOrder]) VALUES (2, N'Ideal Time', N'#94A3B8', 1, 2)
INSERT [dbo].[ActivityCategories] ([Id], [Name], [ColorHex], [IsProductive], [SortOrder]) VALUES (3, N'Non-Productive Time', N'#F6C343', 0, 3)
SET IDENTITY_INSERT [dbo].[ActivityCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([Id], [MemberId], [CategoryId], [ApplicationName], [StartTime], [EndTime], [Status], [LogDate]) VALUES (1, 1, 4, N'DB Migration', CAST(N'2026-03-28T15:57:28.1366667' AS DateTime2), CAST(N'2026-03-28T16:25:28.1366667' AS DateTime2), N'Productive', CAST(N'2026-03-28' AS Date))
INSERT [dbo].[ActivityLogs] ([Id], [MemberId], [CategoryId], [ApplicationName], [StartTime], [EndTime], [Status], [LogDate]) VALUES (2, 2, 1, N'Away from system', CAST(N'2026-03-28T15:45:28.1366667' AS DateTime2), CAST(N'2026-03-28T16:25:28.1366667' AS DateTime2), N'Away', CAST(N'2026-03-28' AS Date))
INSERT [dbo].[ActivityLogs] ([Id], [MemberId], [CategoryId], [ApplicationName], [StartTime], [EndTime], [Status], [LogDate]) VALUES (3, 3, 2, N'Microsoft Teams', CAST(N'2026-03-28T15:45:28.1366667' AS DateTime2), CAST(N'2026-03-28T16:25:28.1366667' AS DateTime2), N'Idle', CAST(N'2026-03-28' AS Date))
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[DashboardFilters] ON 

INSERT [dbo].[DashboardFilters] ([Id], [Name], [Value]) VALUES (1, N'Today', N'TODAY')
INSERT [dbo].[DashboardFilters] ([Id], [Name], [Value]) VALUES (2, N'This Week', N'THIS_WEEK')
INSERT [dbo].[DashboardFilters] ([Id], [Name], [Value]) VALUES (3, N'This Month', N'THIS_MONTH')
SET IDENTITY_INSERT [dbo].[DashboardFilters] OFF
GO
SET IDENTITY_INSERT [dbo].[KpiMaster] ON 

INSERT [dbo].[KpiMaster] ([Id], [Title], [ColumnName], [IsActive]) VALUES (1, N'Team Logged Hours', N'LoggedSeconds', 1)
INSERT [dbo].[KpiMaster] ([Id], [Title], [ColumnName], [IsActive]) VALUES (2, N'Team Time On System', N'OnSystemSeconds', 1)
INSERT [dbo].[KpiMaster] ([Id], [Title], [ColumnName], [IsActive]) VALUES (3, N'Team Time Away', N'AwaySeconds', 1)
SET IDENTITY_INSERT [dbo].[KpiMaster] OFF
GO
INSERT [dbo].[MemberStatus] ([MemberId], [Status], [LastActiveTime]) VALUES (1, N'Productive', CAST(N'2026-03-30T00:45:36.5500000' AS DateTime2))
INSERT [dbo].[MemberStatus] ([MemberId], [Status], [LastActiveTime]) VALUES (2, N'Away', CAST(N'2026-03-30T00:30:36.5500000' AS DateTime2))
INSERT [dbo].[MemberStatus] ([MemberId], [Status], [LastActiveTime]) VALUES (3, N'Idle', CAST(N'2026-03-30T00:40:36.5533333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ProductivityScores] ON 

INSERT [dbo].[ProductivityScores] ([Id], [MemberId], [ScoreDate], [HourOfDay], [Score], [CreatedAt]) VALUES (1, 1, CAST(N'2026-03-28' AS Date), 8, CAST(70.00 AS Decimal(5, 2)), CAST(N'2026-03-28T16:26:00.8900000' AS DateTime2))
INSERT [dbo].[ProductivityScores] ([Id], [MemberId], [ScoreDate], [HourOfDay], [Score], [CreatedAt]) VALUES (2, 1, CAST(N'2026-03-28' AS Date), 9, CAST(60.00 AS Decimal(5, 2)), CAST(N'2026-03-28T16:26:00.8900000' AS DateTime2))
INSERT [dbo].[ProductivityScores] ([Id], [MemberId], [ScoreDate], [HourOfDay], [Score], [CreatedAt]) VALUES (3, 1, CAST(N'2026-03-28' AS Date), 10, CAST(75.00 AS Decimal(5, 2)), CAST(N'2026-03-28T16:26:00.8900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductivityScores] OFF
GO
SET IDENTITY_INSERT [dbo].[TeamMembers] ON 

INSERT [dbo].[TeamMembers] ([Id], [EmployeeCode], [FullName], [Email], [ManagerId], [TeamId], [DailyCapacity], [AvatarColor], [Initials], [IsActive], [CreatedAt]) VALUES (1, N'EMP001', N'Aniket Kavathekar', N'aniket@test.com', NULL, 1, CAST(8.00 AS Decimal(5, 2)), N'#00B8A9', N'AK', 1, CAST(N'2026-03-28T16:24:04.7833333' AS DateTime2))
INSERT [dbo].[TeamMembers] ([Id], [EmployeeCode], [FullName], [Email], [ManagerId], [TeamId], [DailyCapacity], [AvatarColor], [Initials], [IsActive], [CreatedAt]) VALUES (2, N'EMP002', N'Sandip Kharat', N'sandip@test.com', NULL, 1, CAST(8.00 AS Decimal(5, 2)), N'#F6C343', N'SK', 1, CAST(N'2026-03-28T16:24:04.7833333' AS DateTime2))
INSERT [dbo].[TeamMembers] ([Id], [EmployeeCode], [FullName], [Email], [ManagerId], [TeamId], [DailyCapacity], [AvatarColor], [Initials], [IsActive], [CreatedAt]) VALUES (3, N'EMP003', N'Sanket Doshi', N'sanket@test.com', NULL, 1, CAST(8.00 AS Decimal(5, 2)), N'#3B82F6', N'SD', 1, CAST(N'2026-03-28T16:24:04.7833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TeamMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Id], [Name], [Description], [IsActive]) VALUES (1, N'Engineering', N'Development Team', 1)
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeEntries] ON 

INSERT [dbo].[TimeEntries] ([Id], [MemberId], [LoggedDate], [LoggedSeconds], [OnSystemSeconds], [AwaySeconds], [IdleSeconds], [ProductiveSeconds], [CreatedAt], [ChangePercent]) VALUES (1, 1, CAST(N'2026-03-28' AS Date), 43260, 36000, 2000, 1000, 30000, CAST(N'2026-03-28T16:25:40.6600000' AS DateTime2), NULL)
INSERT [dbo].[TimeEntries] ([Id], [MemberId], [LoggedDate], [LoggedSeconds], [OnSystemSeconds], [AwaySeconds], [IdleSeconds], [ProductiveSeconds], [CreatedAt], [ChangePercent]) VALUES (2, 2, CAST(N'2026-03-28' AS Date), 39300, 30000, 5000, 2000, 22000, CAST(N'2026-03-28T16:25:40.6600000' AS DateTime2), NULL)
INSERT [dbo].[TimeEntries] ([Id], [MemberId], [LoggedDate], [LoggedSeconds], [OnSystemSeconds], [AwaySeconds], [IdleSeconds], [ProductiveSeconds], [CreatedAt], [ChangePercent]) VALUES (3, 3, CAST(N'2026-03-28' AS Date), 36000, 28000, 4000, 2000, 20000, CAST(N'2026-03-28T16:25:40.6600000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[TimeEntries] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Activity__737584F6D7BBDA19]    Script Date: 31-03-2026 16:12:11 ******/
ALTER TABLE [dbo].[ActivityCategories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ActivityLogs_LogDate]    Script Date: 31-03-2026 16:12:11 ******/
CREATE NONCLUSTERED INDEX [IDX_ActivityLogs_LogDate] ON [dbo].[ActivityLogs]
(
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ActivityLogs_MemberId]    Script Date: 31-03-2026 16:12:11 ******/
CREATE NONCLUSTERED INDEX [IDX_ActivityLogs_MemberId] ON [dbo].[ActivityLogs]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ActivityLogs_StartTime]    Script Date: 31-03-2026 16:12:11 ******/
CREATE NONCLUSTERED INDEX [IDX_ActivityLogs_StartTime] ON [dbo].[ActivityLogs]
(
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ProductivityScores_MemberId]    Script Date: 31-03-2026 16:12:11 ******/
CREATE NONCLUSTERED INDEX [IDX_ProductivityScores_MemberId] ON [dbo].[ProductivityScores]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ProductivityScores_ScoreDate]    Script Date: 31-03-2026 16:12:11 ******/
CREATE NONCLUSTERED INDEX [IDX_ProductivityScores_ScoreDate] ON [dbo].[ProductivityScores]
(
	[ScoreDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ProductivityScores]    Script Date: 31-03-2026 16:12:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ProductivityScores] ON [dbo].[ProductivityScores]
(
	[MemberId] ASC,
	[ScoreDate] ASC,
	[HourOfDay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TeamMemb__1F64254855B922FF]    Script Date: 31-03-2026 16:12:11 ******/
ALTER TABLE [dbo].[TeamMembers] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TeamMemb__A9D105342A6CBF61]    Script Date: 31-03-2026 16:12:11 ******/
ALTER TABLE [dbo].[TeamMembers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TeamMembers_TeamId]    Script Date: 31-03-2026 16:12:11 ******/
CREATE NONCLUSTERED INDEX [IDX_TeamMembers_TeamId] ON [dbo].[TeamMembers]
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Teams__737584F67E3B6EB7]    Script Date: 31-03-2026 16:12:11 ******/
ALTER TABLE [dbo].[Teams] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TimeEntries_LoggedDate]    Script Date: 31-03-2026 16:12:11 ******/
CREATE NONCLUSTERED INDEX [IDX_TimeEntries_LoggedDate] ON [dbo].[TimeEntries]
(
	[LoggedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TimeEntries_MemberId]    Script Date: 31-03-2026 16:12:11 ******/
CREATE NONCLUSTERED INDEX [IDX_TimeEntries_MemberId] ON [dbo].[TimeEntries]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KpiMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductivityScores] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TeamMembers] ADD  DEFAULT ((8)) FOR [DailyCapacity]
GO
ALTER TABLE [dbo].[TeamMembers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TeamMembers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TimeEntries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ActivityCategories] ([Id])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Category]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[TeamMembers] ([Id])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Member]
GO
ALTER TABLE [dbo].[MemberStatus]  WITH CHECK ADD  CONSTRAINT [FK_MemberStatus_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[TeamMembers] ([Id])
GO
ALTER TABLE [dbo].[MemberStatus] CHECK CONSTRAINT [FK_MemberStatus_Member]
GO
ALTER TABLE [dbo].[ProductivityScores]  WITH CHECK ADD  CONSTRAINT [FK_ProductivityScores_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[TeamMembers] ([Id])
GO
ALTER TABLE [dbo].[ProductivityScores] CHECK CONSTRAINT [FK_ProductivityScores_Member]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[TeamMembers] ([Id])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Manager]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Team] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Team]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[TeamMembers] ([Id])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_Member]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardData]    Script Date: 31-03-2026 16:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDashboardData]
    @Filter NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today DATE = CAST(GETDATE() AS DATE);
    DECLARE @Yesterday DATE = DATEADD(DAY, -1, @Today);

    DECLARE @StartOfMonth DATE = DATEFROMPARTS(YEAR(@Today), MONTH(@Today), 1);
    DECLARE @EndOfMonth DATE = EOMONTH(@Today);

    DECLARE @LastMonth DATE = DATEADD(MONTH, -1, @Today);
    DECLARE @StartOfLastMonth DATE = DATEFROMPARTS(YEAR(@LastMonth), MONTH(@LastMonth), 1);
    DECLARE @EndOfLastMonth DATE = EOMONTH(@LastMonth);

    DECLARE @StartDate DATE, @EndDate DATE;
    DECLARE @PrevStartDate DATE, @PrevEndDate DATE;

    -- 🔥 Determine Date Range
    IF @Filter = 'TODAY'
    BEGIN
        SET @StartDate = @Today;
        SET @EndDate = @Today;
        SET @PrevStartDate = @Yesterday;
        SET @PrevEndDate = @Yesterday;
    END
    ELSE IF @Filter = 'YESTERDAY'
    BEGIN
        SET @StartDate = @Yesterday;
        SET @EndDate = @Yesterday;
        SET @PrevStartDate = DATEADD(DAY, -1, @Yesterday);
        SET @PrevEndDate = DATEADD(DAY, -1, @Yesterday);
    END
    ELSE IF @Filter = 'THIS_MONTH'
    BEGIN
        SET @StartDate = @StartOfMonth;
        SET @EndDate = @EndOfMonth;
        SET @PrevStartDate = @StartOfLastMonth;
        SET @PrevEndDate = @EndOfLastMonth;
    END
    ELSE IF @Filter = 'LAST_MONTH'
    BEGIN
        SET @StartDate = @StartOfLastMonth;
        SET @EndDate = @EndOfLastMonth;
        SET @PrevStartDate = DATEADD(MONTH, -1, @StartOfLastMonth);
        SET @PrevEndDate = EOMONTH(DATEADD(MONTH, -1, @StartOfLastMonth));
    END
    ELSE
    BEGIN
        SET @StartDate = @Today;
        SET @EndDate = @Today;
        SET @PrevStartDate = @Yesterday;
        SET @PrevEndDate = @Yesterday;
    END

    -- ====================================================
    -- ✅ KPI TABLE (5 cards, all fields returned)
    -- ====================================================
    SELECT 
        k.Title,
        CASE k.ColumnName
            WHEN 'LoggedSeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.LoggedSeconds ELSE 0 END)
            WHEN 'OnSystemSeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.OnSystemSeconds ELSE 0 END)
            WHEN 'AwaySeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.AwaySeconds ELSE 0 END)
            WHEN 'IdleSeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.IdleSeconds ELSE 0 END)
            WHEN 'ProductiveSeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.ProductiveSeconds ELSE 0 END)
        END AS LoggedSeconds,

        CASE k.ColumnName
            WHEN 'LoggedSeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @PrevStartDate AND @PrevEndDate THEN t.LoggedSeconds ELSE 0 END)
            WHEN 'OnSystemSeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @PrevStartDate AND @PrevEndDate THEN t.OnSystemSeconds ELSE 0 END)
            WHEN 'AwaySeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @PrevStartDate AND @PrevEndDate THEN t.AwaySeconds ELSE 0 END)
            WHEN 'IdleSeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @PrevStartDate AND @PrevEndDate THEN t.IdleSeconds ELSE 0 END)
            WHEN 'ProductiveSeconds' THEN SUM(CASE WHEN t.LoggedDate BETWEEN @PrevStartDate AND @PrevEndDate THEN t.ProductiveSeconds ELSE 0 END)
        END AS PrevLoggedSeconds,

        SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.OnSystemSeconds ELSE 0 END) AS OnSystemSeconds,
        SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.AwaySeconds ELSE 0 END) AS AwaySeconds,
        SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.IdleSeconds ELSE 0 END) AS IdleSeconds,
        SUM(CASE WHEN t.LoggedDate BETWEEN @StartDate AND @EndDate THEN t.ProductiveSeconds ELSE 0 END) AS ProductiveSeconds
    FROM KpiMaster k
    CROSS JOIN TimeEntries t
    GROUP BY k.Title, k.ColumnName;

    -- ====================================================
    -- ✅ TREND TABLE
    -- ====================================================
    SELECT 
        HourOfDay AS [Hour],
        ISNULL(CAST(AVG(CASE WHEN ScoreDate BETWEEN @StartDate AND @EndDate THEN Score END) AS INT),0) AS TodayScore,
        ISNULL(CAST(AVG(CASE WHEN ScoreDate BETWEEN @PrevStartDate AND @PrevEndDate THEN Score END) AS INT),0) AS YesterdayScore
    FROM ProductivityScores
    WHERE ScoreDate BETWEEN @StartDate AND @EndDate
       OR ScoreDate BETWEEN @PrevStartDate AND @PrevEndDate
    GROUP BY HourOfDay
    ORDER BY HourOfDay;

    -- ====================================================
    -- ✅ WORKLOAD
    -- ====================================================
    SELECT 
        m.FullName,
        m.DailyCapacity,
        ISNULL(SUM(t.LoggedSeconds)/3600,0) AS LoggedHours,
        CASE WHEN SUM(t.LoggedSeconds)/3600 >= m.DailyCapacity THEN m.DailyCapacity ELSE 0 END AS Matched,
        CASE WHEN SUM(t.LoggedSeconds)/3600 < m.DailyCapacity THEN m.DailyCapacity - SUM(t.LoggedSeconds)/3600 ELSE 0 END AS Less
    FROM TeamMembers m
    LEFT JOIN TimeEntries t ON t.MemberId = m.Id AND t.LoggedDate BETWEEN @StartDate AND @EndDate
    GROUP BY m.FullName, m.DailyCapacity;

    -- ====================================================
    -- ✅ DONUT CHART
    -- ====================================================
    SELECT 
        c.Name AS Category,
        SUM(a.DurationSeconds) AS TotalSeconds,
        c.ColorHex
    FROM ActivityLogs a
    INNER JOIN ActivityCategories c ON c.Id = a.CategoryId
    WHERE a.LogDate BETWEEN @StartDate AND @EndDate
    GROUP BY c.Name, c.ColorHex;

    -- ====================================================
    -- ✅ ACTIVITY FEED
    -- ====================================================
    SELECT 
        m.FullName AS name,
        m.Initials,
        s.Status,
        a.ApplicationName AS activity,
        CONCAT(
            (SUM(a.DurationSeconds) / 3600), 'h ',
            ((SUM(a.DurationSeconds) % 3600) / 60), 'm'
        ) AS time,
        ISNULL(
            CAST(
                (SUM(a.DurationSeconds) * 100.0) / NULLIF(m.DailyCapacity * 3600, 0)
                AS INT
            ), 0
        ) AS progress
    FROM TeamMembers m
    INNER JOIN MemberStatus s ON s.MemberId = m.Id
    LEFT JOIN ActivityLogs a 
        ON a.MemberId = m.Id 
       AND a.LogDate BETWEEN @StartDate AND @EndDate
    GROUP BY m.FullName, m.Initials, s.Status, a.ApplicationName, m.DailyCapacity;
END
GO
USE [master]
GO
